#wrap {
  max-width:600px;
  height:1000px;
  background-color:#eeeeee;
  margin:0 auto;
  
}
#wrap h1{
  text-align: center;
  font-size:1rem;
}
#wrap p {
  font-size:1rem;
  font-weight:500;
}
#wrap img{
  width:600px;
  height:700px;
}
#wrap main nav{
  text-align: center;
  
}